.topcontainer {
  position: relative;
  padding-top: 100px;
  font-family: Georgia, serif;
  background-color: #d2f5e3;
}

.skill-row1 {
  text-align: left;
  padding-bottom: 50px;
  line-height: 2;
}

p {
  line-height: 2;
}

.skill-row2 {
  text-align: left;
  padding-bottom: 50px;
  line-height: 2;
}

body {
  margin: 0;
  background-color: white;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50 auto 0 auto;
  font-size: 562.5%;
  font-family: 'Sacramento', 'cursive';
  color: #52057b;
}

.h22 {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #52057b;
  font-weight: normal;
}

h2 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  color: #52057b;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #892cdc;
}

.profile{
  text-align: center;
  width: 50%;
  margin: 85px auto 85px auto;
  line-height: 2;
}

.full {
  text-decoration: underline;
  text-decoration-style: solid;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 100px;
}

.MERN {
  text-decoration: underline;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skill-img{
  float: left;
  padding-right: 50px;
}

.skill1-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skill1-img{
  float: right;
  padding-left: 50px;
}

hr {
  background-color: #e8ffff;
  border-style: dotted none none;
  width: 7%;
  border-color: grey;
  border-width: 5px
}

.skills{
  margin-top: 100px;
}

.contact-me{
  padding: 100px 0 85px;
  width: 45%;
  margin: auto;
}

.bottom-container{
  background-color: #892cdc;
  padding: 40px 0 20px;
}

.btn {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 21px;
   font-weight: 400;
   padding: 25px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-top: 50px;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.intro{
  width: 45%;
  text-align: center;
  margin: auto;
}

a{
  color:#bc6ff1;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 15px;
  text-decoration: none;
}

a:hover{
  color: #14274e;
}

.copywright{
  font-size: 0.9em;
  margin: 20px 0 0;
}
